body {
	background-color:red;
}
.box {
	padding:12px;
	font-size:20px;
	border-radius:1px solid #ccc;
	&.box__success {
		border-color:green;
	}
	&.box__warning {
		border-color:red;
	}
}

.menu {
	background-color:$backgroundColor;
	ul {
		overflow: hidden;
		li {
			float:left;
			background-color:$backgroundColor;
			a {
				font-family: tahoma;
				.ka_ge & {
					font-family: nino;
				}
				.ru_ru & {
					font-family: russian;
				}
				&:hover,
				&:focus {
					font-weight: bold;
				}
			}
		}
	}
}